body{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient( grey , whitesmoke);
    text-align: center;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-shadow: 1px 1px rgb(44, 44, 44);
    font-size: 20px; 
}
hr{
    background-color: grey;
}
div{
    display: inline-block;
    margin: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
}

#mainInfo , #compareInfo{
     margin: 20px; 
}

nav{
    border-bottom: 2px solid rgb(165, 255, 31);
    box-shadow:  1px 1px rgb(44, 44, 44);
}

#searchLabel , #compareLabel{
    border:1px solid rgb(44, 44, 44);
    width: 400px;
    border-radius: 5px;
    box-shadow:  1px 1px black;
}

button{
    border:1px solid black;
    width: 120px;
    border-radius: 5px;
    background-color: rgb(165, 255, 31);
}

.cover-img{
    width: 40%;
}

.img-border{
    border: 1px solid rgb(44, 44, 44);
    box-shadow:1px 1px rgb(44, 44, 44);
}

.col-sm{
    border:1px solid rgb(44, 44, 44);
    border-radius: 5px;
    background-color: rgba(150, 150, 150, 0.52);
}

li{
    color: grey;
    background-color: whitesmoke;
}

a{
    color:  whitesmoke;
}

a:hover{
    color: rgb(166, 255, 31);
    text-decoration: none;
}

h2 {
    color: rgb(166, 255, 31);
}

h4:hover{
    color: rgb(166, 255, 31);
}

h5:hover{
    color: rgb(166, 255, 31);
}

td:hover{
    color: rgb(165, 255, 31);
}

p{
    font-size: 14px;
}

span{
    color: rgb(166, 255, 31);
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
  }

.dropdown {
    position: relative;
    display: inline-block;
    padding-left: 0px;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(150, 150, 150, 0.85);
    min-width: 120px;
  }
  
.dropdown-content a {
    padding: 12px 16px;
    display: block; 
  }

.dropdown:hover .dropdown-content {display: block;}